body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #221F2E;
}

.map{
    position: relative;
    width: 400px;
    height: 400px;
}

.row{
    display: flex;
    width: 100%;
    height: 33.33%;
    border: 1px solid red;
    margin-top: -1px;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: 100%;
    border: 1px solid rgb(255, 0, 0);
    transition: 0.5s;
    cursor: pointer;
}
.cell:hover{
    background-color: rgba(255,192,203,0.4);
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.x,
.o{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 15px;
}

.icon-x{
    width: 30px;
    height: 30px;
    background: url("Крестик.png") center / cover;
}

.icon-o{
    width: 30px;
    height: 30px;
    background: url("Нолик.png") center / cover;
}

.cell.icon-o,
.cell.icon-x{
    width: 33.33%;
    height: 100%;
    background-size: 30px 30px;
    background-repeat: no-repeat;
}

.score{
    color:salmon;
    margin: 0 40px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.turn{
    width: 15px;
    height: 15px;
    background-color:brown;
    border-radius: 50%;
}